@import "_normalize";
@import "_grid";
@import "_variables";


body {
	background: url("../img/bg.png");
	color: $primary-color;
	font-family: $body-font;
}

blockquote {
	@include blockquote();
}

nav {
	@include nav();
}

#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
}

#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
}

#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
}

h3 {
	font-family: $name-font;
}

article img {
	border: 10px solid $primary-color;
}

img {
	+ p {
		line-height: 24px;
		text-indent: 32px;
	}
}

footer {
	p {
		font: 10px/16px $footer-font;
	}
}

